.topcoat-button--large,
.topcoat-button--large--cta,
.topcoat-button--large--quiet,
.topcoat-icon-button--large,
.topcoat-icon-button--large--cta,
.topcoat-icon-button--large--quiet {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.topcoat-button--large--cta.m-danger,
.topcoat-icon-button--large--cta.m-danger {
  background: #c53030;
  border-color: #9b2c2c;
}
.topcoat-button--large--cta.m-danger:hover,
.topcoat-icon-button--large--cta.m-danger:hover {
  background: #e53e3e;
}
.topcoat-button--large--cta.m-danger:active,
.topcoat-icon-button--large--cta.m-danger:active {
  background: #9b2c2c;
}
.topcoat-button--large--quiet.m-cta,
.topcoat-icon-button--large--quiet.m-cta {
  color: #fff;
}
.topcoat-button--large--quiet.m-cta:hover,
.topcoat-icon-button--large--quiet.m-cta:hover {
  background: #7f5af0;
  border-color: #6a45d9;
  box-shadow: inset 0 1px hsla(0, 0%, 100%, 0.2);
}
.topcoat-button--large--quiet.m-cta:active,
.topcoat-icon-button--large--quiet.m-cta:active {
  background: #6a45d9;
  border-color: #5334b5;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
}
.topcoat-button--large--cta > SVG,
.topcoat-button--large--quiet > SVG,
.topcoat-button--large > SVG {
  margin-right: 4px;
}
.topcoat-textarea {
  font-size: 0.875rem;
  line-height: 1.1rem;
  padding: 4px 10px;
}
.sketch-picker INPUT + SPAN {
  width: 80%;
}
.link {
  color: #ff9a9a;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.fields + .fields {
  margin-top: 10px;
  padding-top: 10px;
}
.field.hostBrdTopContrast {
  border-top: 1px dashed rgba(224, 221, 240, 0.15);
  margin-top: 6px;
  padding-top: 6px;
}
.field + .field {
  margin-top: 10px;
}
.field > BUTTON {
  width: 100%;
}
.field-label {
  font-size: 14px;
  margin-bottom: 5px;
}
.field-mini-label {
  font-size: 10px;
  margin-bottom: 5px;
}
.field-input INPUT,
.field-input TEXTAREA,
.field-input SELECT {
  box-sizing: border-box;
  width: 100%;
}
.field-input TEXTAREA {
  min-height: 29px;
  resize: vertical;
}
.field-descr {
  font-size: 12px;
  font-style: italic;
  margin-top: 4px;
  opacity: 0.7;
}
.article-format > :first-child {
  margin-top: 0;
}
.article-format h1,
.article-format h2,
.article-format h3,
.article-format h4,
.article-format h5 {
  margin-bottom: 0.6em;
  margin-top: 1.2em;
}
.article-format p {
  margin-bottom: 0;
  margin-top: 1em;
}
.article-format ol,
.article-format ul {
  margin-bottom: 0;
  margin-top: 0.6em;
  padding-left: 30px;
}
.article-format ol + p,
.article-format ul + p {
  margin-top: 0.6em;
}
.article-format li + li {
  margin-top: 0.3em;
}
.app-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.top-block,
.top-divider,
.middle-divider,
.bottom-block,
.footer-block {
  flex: 0 0 auto;
}
.top-divider {
  height: 4px;
}
.middle-block {
  flex-grow: 2;
}
.middle-divider {
  cursor: ns-resize;
  padding: 3px 0;
}
.middle-divider > div {
  height: 2px;
}
.app-modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.app-modal-hatch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 1;
  background: #232136;
}
.app-modal-inner {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 20px;
  left: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
}
.app-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px;
}
.app-modal-title {
  font-size: 16px;
  font-weight: 700;
}
.app-modal-body {
  flex-grow: 2;
  overflow: auto;
}
.app-modal-body-inner {
  font-size: 14px;
  padding: 10px;
}
.app-modal-footer {
  flex: 0 0 auto;
  font-size: 12px;
  padding: 6px 10px;
}
.export-folder-item,
.export-settings-item {
  display: flex;
  align-items: center;
  padding: 4px;
}
.export-folder-item + .export-folder-item {
  margin-top: 4px;
}
.export-folder-item.m-nested {
  padding-left: 16px;
}
.export-folder-title,
.export-settings-title {
  margin-left: 6px;
}
.style-edit-details {
  background: hsla(0, 0%, 100%, 0.06);
  border: 1px solid rgba(224, 221, 240, 0.15);
  border-radius: 3px;
  font-size: 12px;
  margin-top: 6px;
  padding: 5px 8px;
}
.style-edit-props {
  margin-top: 8px;
  max-width: 345px;
}
.style-edit-props INPUT,
.style-edit-props SELECT {
  display: inline-block;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}
.style-edit-props SELECT {
  padding-left: 6px;
}
.style-edit-props INPUT[type="number"] {
  padding-right: 0;
}
.style-edit-props .style-edit-font-style {
  flex: 0 0 auto;
  margin-left: 8px;
  width: calc(50% - 37px);
}
.style-edit-props .topcoat-icon-button--large:focus {
  border: 1px solid #777;
  box-shadow: inset 0 1px #555;
}
.style-edit-props .topcoat-icon-button--large--quiet {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}
.style-edit-props .topcoat-icon-button--large--quiet:active,
.style-edit-props .topcoat-icon-button--large--quiet:hover {
  border: 1px solid #555;
}
.style-edit-props .topcoat-icon-button--large--quiet:focus {
  box-shadow: none;
}
.style-edit-props-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style-edit-props-row + .style-edit-props-row {
  margin-top: 10px;
}
.style-edit-props-row.m-autoleading {
  position: relative;
}
.style-edit-props-row.m-autoleading:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 68px;
  width: 1px;
  height: 10px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
}
.style-edit-props-row.m-autoleading .style-edit-props-label {
  flex-grow: 2;
  text-align: right;
  font-size: 12px;
  line-height: 1;
  opacity: 0.4;
}
.style-edit-props-row.m-autoleading .style-edit-props-label span {
  display: inline-block;
  max-width: 100px;
  margin-top: -2px;
}
.style-edit-props-row.m-autoleading INPUT[type="number"] {
  flex: 0 0 auto;
  margin-left: 8px;
  width: calc(50% - 37px);
}
.style-edit-props-col {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}
.style-edit-props-col.m-justify {
  justify-content: space-between;
}
.style-edit-props-col + .style-edit-props-col {
  margin-left: 15px;
}
.style-edit-props-icon {
  flex: 0 0 auto;
  width: 30px;
  height: 25px;
  opacity: 0.6;
}
.style-edit-props-unit {
  position: absolute;
  right: 6px;
  z-index: 2;
  opacity: 0.5;
}
:focus + .style-edit-props-unit,
:hover + .style-edit-props-unit {
  display: none;
}
.style-edit-color {
  position: relative;
  width: 100%;
}
.style-edit-color .sketch-picker {
  position: absolute;
  left: 0;
  bottom: 26px;
  z-index: 21;
}
.style-edit-color.m-right .sketch-picker {
  left: auto;
  right: 0;
}
.style-edit-color-sample {
  background: #4a4766;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
  color: #e0ddf0;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 2px;
  position: relative;
}
.style-edit-color-sample div {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  padding: 0 4px;
  z-index: 1;
}
.style-edit-color-sample span {
  position: relative;
  z-index: 2;
  text-shadow: 0 0 6px #000;
}
.style-edit-color-sample.m-opacity div {
  opacity: 0.9;
}
.style-edit-stroke {
  display: flex;
  align-items: center;
}
.style-edit-stroke INPUT {
  max-width: 70px;
  margin-right: 8px;
}
.color-picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.style-edit-actions {
  display: flex;
  justify-content: space-between;
}
.style-edit-save {
  width: 50%;
}
.folder-styles-list {
  background: rgba(0, 0, 0, 0.2);
  max-height: 345px;
  overflow-y: auto;
  padding: 4px;
}
.folder-style-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  padding: 4px;
}
.folder-style-item + .folder-style-item {
  margin-top: 4px;
}
.folder-style-item:hover {
  outline: 1px solid rgba(224, 221, 240, 0.5);
}
.folder-style-item.m-selected {
  font-weight: 700;
  opacity: 1;
}
.folder-style-cbx {
  flex: 0 0 auto;
  margin-right: 6px;
}
.folder-style-title {
  flex-grow: 2;
}
.folder-style-title span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
  opacity: 0.5;
}
.folder-styles-list-empty {
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}
.folder-edit-actions {
  display: flex;
  justify-content: space-between;
}
.folder-edit-save {
  width: 50%;
}
.text-block {
  background: #312f4c;
  display: flex;
  position: relative;
  overflow-y: auto;
}
.text-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 4px 0;
  box-sizing: border-box;
  z-index: 2;
}
.text-lines:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: #312f4c;
}
.text-lines:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #312f4c;
}
.text-line {
  display: flex;
  justify-content: space-between;
  color: #908ca4;
  font-family: monospace;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  z-index: 1;
}
.text-line + .text-line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px dashed rgba(224, 221, 240, 0.15);
  z-index: 2;
}
.text-line.m-current {
  background: rgba(127, 90, 240, 0.5);
  color: #e0ddf0;
  z-index: 2;
}
.text-line.m-current:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 2px solid #7f5af0;
}
.text-line.m-current:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #7f5af0;
}
.text-line-num,
.text-line-select,
.text-line-insert {
  flex: 0 0 auto;
}
.text-line-num {
  width: 32px;
  text-align: center;
}
.text-line-select {
  width: 18px;
}
.text-line-select > svg {
  position: relative;
  top: -2px;
  margin-bottom: -5px;
  cursor: pointer;
}
.text-line-select > svg:hover {
  color: #e0ddf0;
}
.text-line.m-current .text-line-select > svg {
  cursor: auto;
}
.text-line-text {
  flex-grow: 2;
  background: #4a4766;
  color: transparent;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0 5px 0 7px;
}
.text-line.m-current .text-line-text {
  background: #6a45d9;
  opacity: 0.4;
}
.text-line.m-empty .text-line-text {
  background: transparent;
}
.text-line.m-page .text-line-text {
  background: rgba(87, 67, 56, 0.7);
}
.text-line-text .text-line-ignore-prefix {
  background: hsla(0, 0%, 100%, 0.1);
}
.text-line-text .text-line-style-prefix {
  opacity: 0.9;
}
.text-line-insert {
  width: 20px;
  text-align: center;
}
.text-line-insert > svg {
  position: relative;
  top: -2px;
  margin-bottom: -5px;
  cursor: pointer;
}
.text-line-insert > svg:hover {
  color: #e0ddf0;
}
.text-line.m-current .text-line-insert > svg:hover {
  color: #e0ddf0;
  opacity: 0.8;
}
.text-area {
  position: relative;
  background: none;
  border: none;
  box-sizing: border-box;
  color: #e0ddf0;
  font-family: monospace;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 6px;
  margin-left: 50px;
  margin-right: 20px;
  width: 100%;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  z-index: 3;
}
.text-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50px;
  right: 20px;
  height: 100%;
  background: #312f4c;
  cursor: text;
  pointer-events: none;
  z-index: 4;
}
.text-message > div {
  color: #908ca4;
  font-size: 18px;
}
.preview-block {
  box-sizing: border-box;
  padding: 10px 10px 0;
}
.preview-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.preview-top .preview-top_big-btn {
  flex-grow: 2;
  width: 50%;
  margin-right: 10px;
}
.preview-top .preview-top_change-size-cont {
  display: flex;
}
.preview-top .preview-top_change-size-cont button {
  border-radius: 0;
}
.preview-top .preview-top_change-size-cont button + button {
  margin-left: -1px;
}
.preview-top .preview-top_change-size-cont button:first-child {
  border-radius: 4px 0 0 4px;
}
.preview-top .preview-top_change-size-cont button:last-child {
  border-radius: 0 4px 4px 0;
}
.preview-bottom {
  display: flex;
  justify-content: space-between;
}
.preview-current {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 72px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.preview-line-info {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.06);
  border-bottom: 1px solid rgba(224, 221, 240, 0.15);
  padding: 2px 4px 2px 8px;
}
.preview-line-info-text {
  flex-grow: 2;
  font-size: 11px;
  line-height: 16px;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}
.preview-line-info-text > b {
  font-size: 12px;
}
.preview-current:hover .preview-line-info-text {
  opacity: 0.8;
}
.preview-line-style-name {
  display: inline-block;
  max-width: 82px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.preview-line-info-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  position: relative;
  top: 1px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}
.preview-line-scale {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
  vertical-align: bottom;
}
.preview-line-scale INPUT {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 26px;
  margin: 0 3px;
  padding: 0 2px;
}
.preview-line-scale input::-webkit-outer-spin-button,
.preview-line-scale input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.preview-line-info-actions {
  flex: 0 0 auto;
  height: 16px;
}
.preview-line-info-actions > svg {
  cursor: pointer;
  opacity: 0.7;
}
.preview-line-info-actions > svg:hover {
  color: #fff;
  opacity: 1;
}
.preview-line-text {
  flex-grow: 2;
  padding: 5px 8px;
  font-size: 10px !important;
  overflow: auto;
  word-break: break-word;
  letter-spacing: 1px;
}
@media (max-height: 450px) {
  .preview-block {
    display: none;
  }
}
.styles-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.folders-list {
  flex-grow: 2;
  position: relative;
  overflow-y: auto;
  padding: 10px;
}
.styles-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.styles-empty > span {
  opacity: 0.6;
  font-size: 16px;
  text-align: center;
  margin: 40px;
}
.style-add {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.style-add button {
  width: 50%;
}
.style-add button + button {
  margin-left: 8px;
}
.folder-item {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
}
.folder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
  opacity: 0.6;
}
.folder-header:hover {
  opacity: 0.9;
  outline: 1px solid rgba(224, 221, 240, 0.5);
}
.folder-item.m-open .folder-header {
  opacity: 1;
}
.folder-marker {
  flex: 0 0 auto;
  height: 18px;
}
.folder-title {
  flex-grow: 2;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
}
.folder-title span {
  opacity: 0.7;
}
.folder-styles-count {
  font-size: 12px;
  margin-left: 4px;
  opacity: 0.4;
}
.folder-actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row-reverse;
  width: 36px;
}
.folder-actions button {
  width: 18px;
  height: 18px;
  padding: 0;
}
.folder-locked {
  height: 18px;
  opacity: 0.3;
}
.folder-styles {
  padding: 6px 4px 2px;
}
.folder-styles-empty {
  padding: 2px 10px 6px;
  text-align: center;
  font-size: 14px;
  opacity: 0.4;
}
.styles-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.style-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 4px;
  padding: 4px 4px 4px 6px;
  cursor: pointer;
  opacity: 0.8;
}
.style-item:hover {
  opacity: 1;
  outline: 1px solid rgba(224, 221, 240, 0.5);
}
.style-item.m-current {
  background: #7f5af0;
  color: #fff;
  opacity: 1;
  outline: 1px solid #6a45d9 !important;
}
@media screen and (min-width: 423px) {
  .style-item {
    width: calc(50% - 2px);
  }
}
.style-marker {
  flex: 0 0 auto;
  margin-right: 6px;
}
.style-color {
  width: 8px;
  height: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 50%;
}
.style-color,
.style-prefix-color {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}
.style-prefix-color {
  background: #fff;
  margin-top: 3px;
  padding: 1px;
}
.style-prefix-color div {
  height: 5px;
  opacity: 0.9;
}
.style-name {
  flex-grow: 2;
  font-size: 14px;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 70px);
  -webkit-font-smoothing: antialiased;
}
.style-actions {
  display: flex;
  flex: 0 0 auto;
}
.style-actions button {
  width: 20px;
  height: 20px;
  padding: 0;
}
.style-actions button + button {
  margin-left: 3px;
}
@media (max-height: 450px) {
  .style-btn-list {
    display: none;
  }
}
.footer-block {
  display: flex;
  box-sizing: border-box;
  min-height: 20px;
  padding: 2px 10px 6px;
  font-size: 12px;
}
.footer-block .link {
  opacity: 0.7;
}
.footer-block .link:hover {
  opacity: 1;
}
.footer-block .link-left {
  margin-left: auto !important;
  margin-right: 3%;
}
.footer-block .link + .link {
  margin-left: 8px;
}
@media (max-height: 450px) {
  .footer-block {
    display: none;
  }
}
.shortcut-field {
  display: flex;
  align-items: center;
}
.shortcut-field BUTTON {
  margin-left: 4px;
  flex-shrink: 0;
}
